@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import "./components/form";
@import "./components/button";

html,body{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  .d-none{
    display: none;
  }
}

h1{
  font-size: 3.5rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h3{
  font-size: 1.8rem;
  font-weight: 400;
}
h4{
  font-size: 1.25rem;
  font-weight: 400;
}
span{
  font-size: 0.7rem;
}
.b-radius{
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  section {
    max-width: 1200px;
    margin-bottom: 100px;
  }
  .section-3{
    padding-bottom: 100px;
  }
  .section-5{

    .prof-bg{
      height: 200px;
      background-image: url('../images/sec-5/sec-5_img.png');
      background-size: cover;
      background-repeat: no-repeat;
      align-items: center;
      color: white;
    }
  }
}

